/* styles.css */
.markdown-preview-view,
.markdown-source-view .cm-content {
	text-align: var(--pt-text-alignment, left);
	letter-spacing: var(--pt-text-letter-spacing, normal);
	word-spacing: var(--pt-text-word-spacing, normal);
	line-height: var(--pt-line-height, normal);
	word-break: var(--pt-word-break, normal);
	overflow-wrap: var(--pt-overflow-wrap, normal);
	text-wrap: var(--pt-text-wrap, wrap);
	text-justify: var(--pt-text-justify, auto);
	text-indent: var(--pt-text-indent, 0);
	-webkit-hyphens: var(--pt-webkit-hyphens, manual);
	hyphens: var(--pt-hyphens, manual);
	hyphenate-limit-chars: var(--pt-hyphenate-limit-chars, auto);
	hanging-punctuation: var(--pt-hanging-punctuation, none);
	widows: var(--pt-widows, 2);
	orphans: var(--pt-orphans, 2);

	/* Static values */
	text-rendering: geometricPrecision;
	-webkit-hyphenate-character: "\2010";
	hyphenate-character: "\2010";
}
