/* styles.css */
.markdown-preview-view,
.markdown-source-view .cm-content {
	text-align: var(--pt-text-alignment, left);
	letter-spacing: var(--pt-text-letter-spacing, -0.007em);
	word-spacing: 0.05em;
	word-break: normal;
	overflow-wrap: break-word;
	text-wrap: pretty;
	text-rendering: geometricPrecision;
	-webkit-hyphens: auto;
	hyphens: auto;
}
