/* styles.css */
.markdown-preview-view [class^="el-"],
.markdown-preview-view [class*=" el-"],
.markdown-source-view .cm-content {
	text-align: var(--pt-text-alignment, left);
	letter-spacing: var(--pt-text-letter-spacing, normal);
	word-spacing: var(--pt-text-word-spacing, normal);
	line-height: var(--pt-line-height, normal);
	word-break: var(--pt-word-break, normal);
	overflow-wrap: var(--pt-overflow-wrap, normal);
	text-wrap: var(--pt-text-wrap, wrap);
	text-justify: var(--pt-text-justify, auto);
	text-indent: var(--pt-text-indent, 0);
	-webkit-hyphens: var(--pt-hyphens, auto);
	hyphens: var(--pt-hyphens, auto);
	hyphenate-limit-chars: var(--pt-hyphenate-limit-chars, auto);
	hanging-punctuation: var(--pt-hanging-punctuation, none);
	widows: var(--pt-widows, 2);
	orphans: var(--pt-orphans, 2);

	text-rendering: geometricPrecision;
	-webkit-hyphenate-character: "\2010";
	hyphenate-character: "\2010";

	& .callout li {
		text-indent: 0;
		padding-left: 0;
	}

	& li:not(.callout li) {
		text-indent: var(--pt-list-item-text-indent, 0);
		padding-left: var(--pt-list-item-padding-left, 0);
	}

	& li,
	& p,
	& ul,
	& ol {
		text-align: var(--pt-text-alignment, left);
		word-break: var(--pt-word-break, normal);
		overflow-wrap: var(--pt-overflow-wrap, normal);
		-webkit-hyphens: var(--pt-hyphens, auto);
		hyphens: var(--pt-hyphens, auto);
	}
}

.pt__settings-note {
	margin-top: 0.5rem;
	margin-bottom: 1rem;
	padding: 1rem;
	color: var(--text-muted);
	font-size: 0.9rem;
	background-color: var(--setting-items-background);
	border-radius: 10px;
}
